#addData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  margin: 0 16px 80px 16px;
  height: 20px;
  align-items: center;
}

#name {
  grid-column: span 2;
  width: 100%;
  border: none;
  height: 100%;
  border-radius: 4px;
  padding: 0 8px;
  outline: 1px solid var(--purple);
  background: none;
  color: var(--text-primary);
}

.select-ad {
  grid-column: 3;
  position: relative;
  outline: 1px solid var(--purple);
  background: none;
  color: var(--text-primary);
  border-radius: 4px;
}

#select-button-ad {
  display: flex;
  align-items: center;
}

#selected-value-ad {
  margin: 0 auto;
}

#chevrons-ad {
  display: flex;
  align-self: center;
  color: var(--purple);
  padding: 2px 0;
}

#chevron-up-ad {
  display: none;
}

#options-view-button-ad:checked + #select-button-ad #chevron-down-ad {
  display: none;
}
#options-view-button-ad:checked + #select-button-ad #chevron-up-ad {
  display: inline-block;
}

#category-select {
  position: relative;
}

#options-view-button-ad {
  all: unset;

  position: absolute;
  inset: 0;

  cursor: pointer;
  z-index: 3;
}

#options-ad {
  position: absolute;
  width: 100%;
  border: 1px solid var(--purple);
  background-color: var(--purple-very-light);
  color: var(--text-secondary);
  display: none;
  z-index: 1;
}

.option-ad {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  width: 100%;
  position: relative;
}

.option-ad + .option-ad {
  border-top: 1px solid var(--purple);
}

.option-ad svg:last-child {
  margin-left: auto;
}

.option-ad:has(input:checked),
.option-ad:hover {
  background-color: var(--white);
}

.option-ad input[type="radio"] {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

#category-select:has(#options-view-button-ad:checked) + #options-ad {
  display: block;
}

#currency-field {
  grid-column: 4;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px 8px;
  border-radius: 4px;
  outline: 1px solid var(--purple);
  background: none;
  color: var(--text-primary);
}

#date {
  padding: 4.5px 8px;
  border-radius: 4px;
  border: none;
  grid-column: 3 / 4 ;
  width: min-content;
  outline: 1px solid var(--purple);
  background: none;
  color: var(--text-primary);
}

::-webkit-calendar-picker-indicator {
    filter: invert(var(--invert));
}

.btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 16px;
  grid-column: 4;
  grid-row: 2;
}

#add-btn {
  display: flex;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: none;
}

::-webkit-input-placeholder {
   color: var(--text-primary);
}

:-moz-placeholder { 
   color: var(--text-primary);  
}

::-moz-placeholder { 
   color: var(--text-primary);  
}

:-ms-input-placeholder {  
   color: var(--text-primary);  
}
