header {
  background-color: var(--purple);
  height: 49px;
  margin-bottom: 16px;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
  margin: 0 16px;
  height: 100%;
}

#logo {
  position: absolute;
}

.select {
  grid-column: 1 / 4;
  margin-top: 6px;
  position: relative;
}

#select-button{
  display: flex;
  padding: 6px;
  align-items: center;
  justify-content: space-between;
  
  border-radius: 8px;
}

#selected-value {
  margin: 0 auto;
  color: var(--purple-very-light);
}

#chevrons {
  color: var(--yellow-dark);
  background-color: var(--yellow-very-light);
  border-radius: 4px;
}

#chevron-up {
  display: none;
}

#options-view-button:checked + #select-button #chevron-down {
  display: none;
}
#options-view-button:checked + #select-button #chevron-up {
  display: inline-block;
}

#month-select {
  position: relative;
}

#options-view-button {
  all: unset;

  position: absolute;
  inset: 0;

  cursor: pointer;
  z-index: 3;
}

#options {
  position: absolute;
  width: 100%;
  border: 1px solid var(--purple-deep);
  background-color: var(--purple-light);
  display: none;
}

.option {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  width: 100%;
  position: relative;
}

.option + .option {
  border-top: 1px solid var(--purple-deep);
}

.option svg:last-child {
  margin-left: auto;
}

.option:has(input:checked),
.option:hover {
  background-color: var(--white);
}

#check {
  display: none;
  color: var(--yellow);
}

.option:has(input:checked) #check {
  display: block;
}

.option input[type="radio"] {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

#month-select:has(#options-view-button:checked) + #options {
  display: block;
}

.total {
  display: flex;
  grid-column: 6 / 9;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.total label {
  background-color: var(--yellow);
  padding: 2px;
  border-radius: 4px 4px 0 0;
}

.total-bg {
  background-color: var(--yellow-very-light);
  border-radius: 0 0 4px 4px;
  box-shadow: var(--shadow);
  padding: 2px 4px;
}