.navbar-container {
  position: fixed;
  width: 100%;
  bottom: 0;
}


nav {
  display: flex;
  height: 48px;
  background-color: var(--cor-v2);
  align-items: center;
  position: relative;
}

#logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#icon {
  margin-left: 16px;
}