header {
  background-color: var(--cor-v1);
  border-radius: 0 0 12px 12px;
  height: 49px;
  margin-bottom: 16px;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
  margin: 0 16px;
  height: 100%;
}

.select {
  grid-column: 1 / 4;
  margin-top: 6px;
  position: relative;
}

#select-button{
  display: flex;
  padding: 6px;
  align-items: center;
  justify-content: space-between;
  
  border-radius: 8px;
}

#selected-value {
  margin: 0 auto;
}

#chevrons {
  color: var(--cor-v0);
  background-color: var(--cor-v3);
  border-radius: 4px;
}

#chevron-up {
  display: none;
}

#options-view-button:checked + #select-button #chevron-down {
  display: none;
}
#options-view-button:checked + #select-button #chevron-up {
  display: inline-block;
}

#month-select {
  position: relative;
}

#options-view-button {
  all: unset;

  position: absolute;
  inset: 0;

  cursor: pointer;
  z-index: 3;
}

#options {
  position: absolute;
  width: 100%;
  border: 1px solid var(--cor-v3);
  background-color: var(--cor-v1);
  display: none;
}

.option {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  width: 100%;
  border-bottom: 1px solid var(--cor-v2);
  position: relative;
}

.option svg:last-child {
  margin-left: auto;
}

.option:has(input:checked),
.option:hover {
  background-color: var(--cor-v0);
}

.option:has(input:focus) {
  outline: 3px solid var(--cor-v2);
}

#check {
  display: none;
}

.option:has(input:checked) #check {
  display: block;
}

.option input[type="radio"] {
  all: unset;
  position: absolute;
  inset: 0;
  cursor: pointer;
}

#month-select:has(#options-view-button:checked) + #options {
  display: block;
}

.expected {
  grid-column: 4 / 6;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.total {
  display: flex;
  grid-column: 7 / 9;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#currency-input {
  width: 100%;
  border: none;
  border-radius: 0 0 4px 4px;
  box-shadow: var(--shadow-box);
  padding: 2px 4px;
}


.expected label {
  background-color: var(--cor-v2);
  padding: 2px;
  border-radius: 4px 4px 0 0;
}

.total label {
  background-color: var(--cor-a2);
  padding: 2px;
  border-radius: 4px 4px 0 0;
}

.total-bg {
  background-color: var(--cor-10);
  border-radius: 0 0 4px 4px;
  box-shadow: var(--shadow-box);
  padding: 2px 4px;
}