nav {
  height: 48px;
  background-color: var(--cor-v2);
  align-content: center;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
}

nav ul li img {
  display: block;
  align-content: center;
  padding: 0 8px;
}

nav ul li:nth-child(odd) {
  margin: 0 8px;
  align-content: center;
}