* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
}

/* Colors */
/* Light theme */
:root {
  --purple-very-light: #f2ecfa;
  --purple-light: #d9c8f2;
  --purple: #6C4AB6;
  --purple-dark: #53338f;
  --purple-deep: #3d2673;

  --yellow-very-light: #fff9e1;
  --yellow-light: #ffe67a;
  --yellow: #FFD447;
  --yellow-dark: #e1b600;
  --yellow-deep: #b89600;

  --white: #ffffff;
  --gray-light: #f5f5f5;
  --gray: #cccccc;
  --gray-dark: #888888;
  --black: #1a1a1a;

  --background: var(--white);
  --surface: var(--gray-light);
  --text-primary: var(--black);
  --text-secondary: var(--gray-dark);
  --border: var(--gray);
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --invert: 0;
}

/* Night theme */
/* @media (prefers-color-scheme: dark) {
:root {
  --purple-very-light: #e3d9f9;
  --purple-light: #b9a8e3;
  --purple: #9b7ede;
  --purple-dark: #6C4AB6;
  --purple-deep: #4d328a;

  --yellow-very-light: #fff3c0;
  --yellow-light: #ffe073;
  --yellow: #FFD447;
  --yellow-dark: #e1b600;
  --yellow-deep: #b89600;

  --white: #ffffff;
  --gray-light: #1e1e1e;
  --gray: #2e2e2e;
  --gray-dark: #929191;
  --black: #222222;

  --background: var(--black);
  --surface: var(--gray-light);
  --text-primary: var(--white);
  --text-secondary: var(--gray-dark);
  --border: var(--gray);
  --shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
  --invert: 1;
}
} */




:root {
  --font-family: "Poppins", sans-serif;
}

/* Tamanhos de Fonte */
.font-xs { font-size: 8.88px; font-family: var(--font-family); }
.font-sm { font-size: 9.99px; font-family: var(--font-family); }
.font-md { font-size: 11.24px; font-family: var(--font-family); }
.font-lg { font-size: 12.64px; font-family: var(--font-family); }
.font-xl { font-size: 14.22px; font-family: var(--font-family); }
.font-2xl { font-size: 16px; font-family: var(--font-family); }
.font-3xl { font-size: 18px; font-family: var(--font-family); }
.font-4xl { font-size: 20.25px; font-family: var(--font-family); }
.font-5xl { font-size: 22.78px; font-family: var(--font-family); }
.font-6xl { font-size: 25.63px; font-family: var(--font-family); }
.font-7xl { font-size: 28.83px; font-family: var(--font-family); }
.font-8xl { font-size: 32.43px; font-family: var(--font-family); }
.font-9xl { font-size: 36.48px; font-family: var(--font-family); }
.font-10xl { font-size: 41.04px; font-family: var(--font-family); }
.font-11xl { font-size: 46.17px; font-family: var(--font-family); }

/* Line Heights */
.lh-100 { line-height: 100%; }
.lh-150 { line-height: 150%; }

/* Espessuras da Fonte */
.regular { font-weight: 400; }
.medium { font-weight: 500; }
.semibold { font-weight: 600; }
.bold { font-weight: 700; }
